In [1]:
import pandas as pd

In [2]:
data_sal = pd.read_csv("Salaries.csv", low_memory=False)
data_sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
data_sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
data_sal.shape

(148654, 13)

In [5]:
data_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# Pandas Exercise for pandas function

In [7]:
# Convert BasePay to numveric 
data_sal['BasePay'] = pd.to_numeric(data_sal['BasePay'],errors='coerce')

# What is the average BasePay?
data_sal['BasePay'].mean()

66325.4488404877

In [8]:
# Convert OvertimePay column to numeric 
data_sal['OvertimePay'] = pd.to_numeric(data_sal['OvertimePay'], errors='coerce')

# What is the highest amount of OvertimePay in the dataset? 
data_sal['OvertimePay'].max()

245131.88

In [9]:
# What is the job title of JOSEPH DRISCOLL? Note: Use all caps
data_sal[data_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [10]:
# How much does JOSEPH DRISCOLL make (including benefits)?
data_sal[data_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [11]:
# What is the name of highest paid person including benefits?
data_sal[data_sal['TotalPayBenefits'] == data_sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [12]:
data_sal.iloc[data_sal['TotalPayBenefits'].argmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [13]:
# What is the name of lowest paid person including all benefits?
data_sal[data_sal['TotalPayBenefits'] == data_sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [14]:
data_sal.iloc[data_sal['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [15]:
# Convert BasePay to numveric 
data_sal['BasePay'] = pd.to_numeric(data_sal['BasePay'],errors='coerce')

# Filter data for the years 2011 to 2014
filtered_data = data_sal[(data_sal['Year'] >= 2011) & (data_sal['Year'] <= 2014)]

# What is the average BasePay of all employees per year(2011-2014)?
average_basepay_per_year = filtered_data.groupby('Year')['BasePay'].mean()

# Display the result
average_basepay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [16]:
# How many unique jobs title are there?
data_sal.nunique()['JobTitle']

2159

In [17]:
# What are the top 5 most common jobs?
data_sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [18]:
# How many 'JobTitle' were represented by only one person in 2013? 
sum(data_sal[data_sal['Year'] == 2013]['JobTitle'].value_counts() ==1)

202

In [19]:
# How many people have the word Cheif in their Job title? 
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [20]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [21]:
data_sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [22]:
sum(data_sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [23]:
# Is there a correleation between length of the Job Title string and Salary?
data_sal['title_len'] = data_sal['JobTitle'].apply(len)

In [24]:
data_sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000